// Colors
$font-color-default: #222;
$white: #fff;
$gray: #bbb;
$gray-light: lighten($gray, 15%);
$gray-lighter: lighten($gray, 20%);
$gray-dark: darken($gray, 15%);
$green: #4bcc00;
$orange: #ffa500;