extends /layouts/_default
block vars
  - var page = 'dashboard'

block content
  #main.pure-u-7-8
    section.heading
      h1 Dashboard
      a(href="#", class="pure-button") Create Job Posting
    section.pure-g.stats
      .stat-block.pure-u-1-3
        h3 4
        span Applicants Ready to Review
      .stat-block.pure-u-1-3
        h3 12
        span Applicants Total
      .stat-block.pure-u-1-3
        h3 3
        span Active Job Openings
    section.dash-panel
      h2 Applicant Activity
      ul.list-applicant-activity
        li First Last is Ready to be Reviwed for Job Position
        li First Last began application for Job Position - 2 hours ago
        li First Last completed skills test for Job Position - 2 hours ago
        li First Last began application for Job Position - 3 hours ago
      a(href="", class="pure-button") View All Applicants
    section.dash-panel
      h2 Active Job Postings
      ul.list-active-jobs
        li Job Title - 0 Applicants - Posted 10 Days Ago
        li Job Title - 4 Applicants - Posted 15 Days Ago
        li Job Title - 2 Applicants - Posted 20 Days Ago
        li Job Title - 1 Applicants - Posted 25 Days Ago
      a(href="", class="pure-button") Manage Job Postings
