head
  title hireapp-dashboard
  meta(charset='UTF-8')
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='3 days', name='revisit-after')

  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
  // build:css /styles/main.css
  link(href='/bower_components/pure/base-min.css', rel='stylesheet')
  link(href='/bower_components/pure/buttons-min.css', rel='stylesheet')
  link(href='/bower_components/pure/grids-min.css', rel='stylesheet')
  link(href='/bower_components/pure/menus-min.css', rel='stylesheet')
  link(href='/styles/main.css', rel='stylesheet')
  // endbuild